<!-- BUILD IT FROM HERE https://getbootstrap.com/docs/5.3/content/tables/#striped-rows -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Fecha</th>
      <th scope="col">Modulos</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of Data; track $index) {

    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.client }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.modules.length }}</td>
      <td [routerLink]="['/budgetView', item.id]">
        <i class="bi bi-calculator"></i>
      </td>
    </tr>

    }
  </tbody>
</table>
